<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
        .price-badge {
            font-size: 1.0em;
            font-weight: bold;
            padding: 0.5em 0.8em;
            background-color: #b8e6ff; /* Светло-голубой */
            color: #2a2a2a;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Список Услуг</h1>

        <h3>Полный перечень услуг с ценами.</h3>


        <div class="row">
          <div class="col-md-12">
            рант, согласно политики Компании, может изменяться. В наших медицинских центрах продолжают действовать 10% скидочные карты на врачебные услуги. Скидка не распространяется на стоматологию и косметологию. Карты, дающие право скидки 20%, более не актуальны (выдавались в честь открытия по новому адресу сроком на год). Благодарим за понимание!</h5>
          </div>
        </div>

        <h2 class="mt-5">Перечень Услуг</h2>
        <ul class="list-group my-4">
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Консультация с врачом общей практики</span>
              <span class="badge badge-primary badge-pill price-badge">1500,00 ₽</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Анализ крови(взрослые, дети)</span>
             <span class="badge badge-primary badge-pill price-badge">800,00 ₽</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
             <span>Анализ мочи (взрослые, дети)</span>
             <span class="badge badge-primary badge-pill price-badge">500,00 ₽</span>
         </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>ЕКГ</span>
            <span class="badge badge-primary badge-pill price-badge">1000,00 ₽</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Ультразвук</span>
             <span class="badge badge-primary badge-pill price-badge">2000,00 ₽</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Консультация офтальмолога</span>
            <span class="badge badge-primary badge-pill price-badge">1800,00 ₽</span>
           </li>
           <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Консультация стоматолога(взрослые, дети)</span>
            <span class="badge badge-primary badge-pill price-badge">1600,00 ₽</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Первичный прием педиатра (осмотр, консультация) </span>
            <span class="badge badge-primary badge-pill price-badge">2200,00 ₽</span>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Повторный прием педиатра (осмотр, консультация) </span>
           <span class="badge badge-primary badge-pill price-badge">2100,00 ₽</span>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Оформление санаторно-курортной карты </span>
            <span class="badge badge-primary badge-pill price-badge">1000,00 ₽</span>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Прием краткий, оформление справки по месту требования</span>
             <span class="badge badge-primary badge-pill price-badge">1000,00 ₽</span>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Первичный прием акушера-гинеколога (осмотр, консультация) </span>
           <span class="badge badge-primary badge-pill price-badge">2200,00 ₽</span>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Повторный прием акушера-гинеколога (осмотр, консультация)</span>
            <span class="badge badge-primary badge-pill price-badge">2100,00 ₽</span>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Первичный прием гинеколога-эндокринолога, репродуктолога (осмотр, консультация) </span>
            <span class="badge badge-primary badge-pill price-badge">2500,00 ₽</span>
          </li>
        </ul>
    </div>
</body>
</html>